*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;

    --dark-red: #FF0000
}

:root{
    background-color: white;
}

img.project-screenshot {
    height: 240px;
    width: 320px;
}

ul{
    list-style-type: none;
}


header{
    padding-top: 5rem;
    text-align: center;
}

.container{
    display: grid;
}

main > *{
    margin: 3rem 15rem;

}

/* Top Nav Bar */

#main-nav{
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;

	background: white;
	color: var(--dark-red);

    text-align: right;
    
    border-bottom: 2px solid;

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 62%, rgba(255,255,255,1) 90%, rgba(255,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 47%,rgba(255,255,255,1) 62%,rgba(255,255,255,1) 90%,rgba(255,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 47%,rgba(255,255,255,1) 62%,rgba(255,255,255,1) 90%,rgba(255,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */

}

/* Adjust both at the same time when necessary */

#nav-name{
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    padding: 0.9rem 1rem;
}

nav a{
	
	text-decoration: none;

	display:inline-block;
	padding: 0.9rem 1rem;
}

/* End Nav */


/* About Me Styles */

/* Blurb */


#about-me-blurb p{
    margin: 2rem;
}

#about-me-blurb h2{
    text-align: center;
}

/* Tech Stack */

.tech-stack{
    align-content: center;
}

.tech-stack h2{
    text-align: center
}

.tech-stack-contents{
    
    display: grid;
    grid-template-columns: 350px 350px;
    
    width: 700px;
    margin: 2rem auto;    
    
}

.tech-stack-wrapper{
    text-align: center;
}

.tech-stack-wrapper li{
    padding: 0.25rem;
}

/* About Me End */


/* Projects */

#projects{
    display: grid;
    grid-template-rows: 50px 350px 350px 350px; 
}

#projects article{
    max-block-size: 750px;
}

#projects h2{
    text-align: center;
}

.project-details{
    display: grid;
    
    margin: 10px;
    
    grid-template-columns: 350px 750px;
    grid-template-rows: 250px;
}

#projects p{
    padding: 0.5rem;
}

#projects h3{
    padding: 0.5rem;
}

#projects h4{
    padding: 0.5rem;


}

.git-repo-link{
    padding: 0.5rem;
}

/* End Project Styles */


/* Contact Styles */

#contact{

    display: grid;
    grid-template-columns: 400px 400px;


}







